:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --sub-text-color: #A4A2A2;
  --black-color: #000000;
  --primary-color: #CF1E1E;
  --gray-color: #B3B4BD;
  // HEADER
  --header-menu-bg: #4b4b4b;
  --hover-gradient: linear-gradient(146.74deg,
      rgba(255, 42, 42, 1) 0%,
      rgba(90, 0, 0, 1) 100%);
  --common-gradient-color: linear-gradient(146.74deg,
      #FF2A2A 9.26%,
      #5A0000 88.41%);
  --common-border-color: #4b4b4b;
  --footer-link-color: #b3b4bd;
  --title-font-weight: 400;
  --subtitle-font-weight: 300;
}